.vscode/
LS1/*.html
LS1/*.xml
LS1/*.bit
LS1/*.txt
LS1/*.ngd
LS1/*.ngc
LS1/*.xrpt
LS1/*.csv
LS1/*.ngm
LS1/*.ncd
LS1/*.mrp
LS1/*.map
LS1/*.xwbt
LS1/*.xst
LS1/*.xpi
LS1/*.ut
LS1/*.unroutes
LS1/*.txw
LS1/*.twr
LS1/*.syr
LS1/*.stx
LS1/*.ptwx
LS1/*.prj
LS1/*.pcf
LS1/*.par
LS1/*.pad
LS1/*.ngr
LS1/*.ncd
LS1/*.lso
LS1/*.drc
LS1/*.cmd_log
LS1/*.bld
LS1/*.bgn
LS1/*.log
