CONFIG VCCAUX=3.3; # Valid values are 2.5 and 3.3


NET "AD_D2_N[14]"	LOC = "V1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[14]"	LOC = "V3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[0]"	LOC = "U1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[0]"	LOC = "U2" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[5]"	LOC = "N3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[5]"	LOC = "N4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[6]"	LOC = "P1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[6]"	LOC = "P3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[11]"	LOC = "R6" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[11]"	LOC = "R7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[11]"	LOC = "W3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[11]"	LOC = "V4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[2]"	LOC = "AB1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[2]"	LOC = "AB3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[5]"	LOC = "U7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[5]"	LOC = "U8" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[10]"	LOC = "AA3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[10]"	LOC = "AA4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[9]"	LOC = "AC3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[9]"	LOC = "AB4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[8]"	LOC = "AD4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[8]"	LOC = "AC4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[3]"	LOC = "Y5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[3]"	LOC = "W5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[14]"	LOC = "N6" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[14]"	LOC = "N7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[10]"	LOC = "AA1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[10]"	LOC = "AA2" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[7]"	LOC = "V6" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[7]"	LOC = "V7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[4]"	LOC = "V10" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[4]"	LOC = "W10" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[9]"	LOC = "AB5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[9]"	LOC = "AA5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[8]"	LOC = "AF2" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[8]"	LOC = "AE3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[0]"	LOC = "AC1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[0]"	LOC = "AC2" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[7]"	LOC = "AB8" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[7]"	LOC = "AA8" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[2]"	LOC = "AB6" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[2]"	LOC = "AB7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[1]"	LOC = "AD5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[1]"	LOC = "AC5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[12]"	LOC = "AD1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[12]"	LOC = "AD3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[13]"	LOC = "R3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[13]"	LOC = "R4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[3]"	LOC = "W7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[3]"	LOC = "W8" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[1]"	LOC = "AE1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[1]"	LOC = "AE2" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[6]"	LOC = "Y8" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[6]"	LOC = "Y9" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[12]"	LOC = "Y1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[12]"	LOC = "Y3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[13]"	LOC = "U3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[13]"	LOC = "U4" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_N[15]"	LOC = "T1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D1_P[15]"	LOC = "T3" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[15]"	LOC = "V5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "AD_D2_P[15]"	LOC = "U5" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_N[4]"	LOC = "P6" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_D2_P[4]"	LOC = "P7" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_CLK2_N"	LOC = "R1" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_CLK2_P"	LOC = "R2" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "AD_DFS(1)"	LOC = "U15" | IOSTANDARD = LVCMOS33;
NET "EXTInput_En"	LOC = "L3" | IOSTANDARD = LVCMOS25;
NET "ExtCLKOut_EN"	LOC = "R9" | IOSTANDARD = LVCMOS25;
NET "FPGACLK_OUT"	LOC = "M8" | IOSTANDARD = LVCMOS25;
NET "LMK_SYNCH"	LOC = "N5" | IOSTANDARD = LVCMOS25;
#NET "FIO_DIG[2]"	LOC = "K19";
NET "FPGACLKIN"	LOC = "L18" | IOSTANDARD = LVCMOS33;
NET "CH2_PDN"	LOC = "N17" | IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[2]"	LOC = "M4";
NET "AD_DCS[1]"	LOC = "M18" | IOSTANDARD = LVCMOS33;
NET "AD_OTR[0]"	LOC = "V12" | IOSTANDARD = LVCMOS33;
NET "Crystal_EN"	LOC = "AE5" | IOSTANDARD = LVCMOS33;
NET "FPGACLKIn_En"	LOC = "L4" | IOSTANDARD = LVCMOS25;
NET "SerCLKOUT"	LOC = "T6" | IOSTANDARD = LVCMOS25;
NET "AD_CLK1_n"	LOC = "A15" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "AD_CLK1_p"	LOC = "C15" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "FDIR_DIFF[28]"	LOC = "AD6";
NET "ExtOutput_En"	LOC = "L6" | IOSTANDARD = LVCMOS25;
NET "GPIO"	LOC = "L19" | IOSTANDARD = LVCMOS33;
NET "AD_DFS[0]"	LOC = "M9" | IOSTANDARD = LVCMOS25;
NET "AD_DCS[0]"	LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "SerLatch_n"	LOC = "M6" | IOSTANDARD = LVCMOS25;
NET "AD_OTR[1]"	LOC = "U13" | IOSTANDARD = LVCMOS33;
NET "FPGACLK_IN_EN"	LOC = "P10" | IOSTANDARD = LVCMOS25;
NET "SerDataOut"	LOC = "L17" | IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[0]"	LOC = "N18";
#NET "FDIR_DIG[8]"	LOC = "U12";
NET "LOCK" 	LOC = "H18" | IOSTANDARD = LVCMOS33;
NET "CH1_PDN"	LOC = "AF5" | IOSTANDARD = LVCMOS33;
NET "LMK_GOE"	LOC = "P5" | IOSTANDARD = LVCMOS25;
NET "ExtCLKIn_EN"	LOC = "M10" | IOSTANDARD = LVCMOS25;


NET "CLK_PCI_U7"	LOC = "AF14";
NET "DACK0_n"	LOC = "AA15";
NET "DACK1_n"	LOC = "AF4";
NET "DREQ0_n"	LOC = "AA13";
NET "DREQ1_n"	LOC = "AF21";

NET "FPGA_CLK"	LOC = "AE13";
NET "FPGA_CLK_PLL"	LOC = "AD14";
NET "LA[10]"	LOC = "AA25";
NET "LA[11]"	LOC = "AA22";
NET "LA[12]"	LOC = "AE26";
NET "LA[13]"	LOC = "U20";
NET "LA[14]"	LOC = "T24";
NET "LA[15]"	LOC = "U22";
NET "LA[16]"	LOC = "AA23";
NET "LA[17]"	LOC = "V20";
NET "LA[18]"	LOC = "AA19";
NET "LA[19]"	LOC = "V22";
NET "LA[2]"	LOC = "Y24";
NET "LA[20]"	LOC = "Y21";
NET "LA[21]"	LOC = "AC23";
NET "LA[22]"	LOC = "AF25";
NET "LA[23]"	LOC = "AC26";
NET "LA[24]"	LOC = "Y22";
NET "LA[25]"	LOC = "AA26";
NET "LA[26]"	LOC = "Y26";
NET "LA[3]"	LOC = "V19";
NET "LA[4]"	LOC = "AB24";
NET "LA[5]"	LOC = "W26";
NET "LA[6]"	LOC = "AC24";
NET "LA[7]"	LOC = "AD26";
NET "LA[8]"	LOC = "AB22";
NET "LA[9]"	LOC = "AC25";
NET "LBE0_n"	LOC = "AE21";
NET "LBE1_n"	LOC = "AB21";
NET "LBE2_n"	LOC = "AE23";
NET "LBE3_n"	LOC = "AE25";
NET "LD[0]"	LOC = "P21";
NET "LD[1]"	LOC = "P24";
NET "LD[10]"	LOC = "N26";
NET "LD[11]"	LOC = "M26";
NET "LD[12]"	LOC = "V23";
NET "LD[13]"	LOC = "T26";
NET "LD[14]"	LOC = "T19";
NET "LD[15]"	LOC = "R20";
NET "LD[16]"	LOC = "P22";
NET "LD[17]"	LOC = "N21";
NET "LD[18]"	LOC = "U21";
NET "LD[19]"	LOC = "R25";
NET "LD[2]"	LOC = "N22";
NET "LD[20]"	LOC = "Y20";
NET "LD[21]"	LOC = "W19";
NET "LD[22]"	LOC = "U26";
NET "LD[23]"	LOC = "R22";
NET "LD[24]"	LOC = "V26";
NET "LD[25]"	LOC = "T22";
NET "LD[26]"	LOC = "R24";
NET "LD[27]"	LOC = "R21";
NET "LD[28]"	LOC = "W24";
NET "LD[29]"	LOC = "U24";
NET "LD[3]"	LOC = "AD24";
NET "LD[30]"	LOC = "T23";
NET "LD[31]"	LOC = "T20";
NET "LD[4]"	LOC = "AB26";
NET "LD[5]"	LOC = "U23";
NET "LD[6]"	LOC = "L25";
NET "LD[7]"	LOC = "M24";
NET "LD[8]"	LOC = "U25";
NET "LD[9]"	LOC = "N20";
NET "LINT_n"	LOC = "M23";
NET "LRESET_n"	LOC = "R26";
NET "LW_R_n"	LOC = "L26";
NET "RdyACK_n"	LOC = "N23";
NET "READYn"	LOC = "R23";
NET "RN_IO1"	LOC = "J16";
NET "RP_IO0"	LOC = "K15";
NET "RN_IO3"	LOC = "J11";
NET "RP_IO2"	LOC = "K12";
NET "RN_IO21"	LOC = "C16";
NET "RP_IO20"	LOC = "D16";
NET "RN_IO23"	LOC = "F15";
NET "RP_IO22"	LOC = "G16";
NET "RN_IO25"	LOC = "A16";
NET "RP_IO24"	LOC = "B16";
NET "RN_IO27"	LOC = "E18";
NET "RP_IO26"	LOC = "F18";
NET "RN_IO29"	LOC = "G11";
NET "RP_IO28"	LOC = "H12";
NET "RN_IO31"	LOC = "D20";
NET "RP_IO30"	LOC = "E20";
NET "RN_IO33"	LOC = "D13";
NET "RP_IO32"	LOC = "F13";
NET "RN_IO35"	LOC = "C20";
NET "RP_IO34"	LOC = "D21";
NET "RN_IO37"	LOC = "F10";
NET "RP_IO36"	LOC = "E10";
NET "RN_IO39"	LOC = "D19";
NET "RP_IO38"	LOC = "E19";
NET "RN_IO5"	LOC = "H17";
NET "RP_IO4"	LOC = "J17";
NET "RN_IO41"	LOC = "C10";
NET "RP_IO40"	LOC = "D10";
NET "RN_IO43"	LOC = "E16";
NET "RP_IO42"	LOC = "F16";
NET "RN_IO45"	LOC = "A12";
NET "RP_IO44"	LOC = "B12";
NET "RN_IO47"	LOC = "A14";
NET "RP_IO46"	LOC = "B14";
NET "RN_IO49"	LOC = "E9";
NET "RP_IO48"	LOC = "F9";
NET "RN_IO51"	LOC = "C14";
NET "RP_IO50"	LOC = "D14";
NET "RN_IO53"	LOC = "A6";
NET "RP_IO52"	LOC = "B6";
NET "RN_IO55"	LOC = "C8";
NET "RP_IO54"	LOC = "D8";
NET "RN_IO57"	LOC = "C6";
NET "RP_IO56"	LOC = "D6";
NET "RN_IO59"	LOC = "D7";
NET "RP_IO58"	LOC = "E8";
NET "RN_IO7"	LOC = "K14";
NET "RP_IO6"	LOC = "J13";
NET "RN_IO61"	LOC = "D5";
NET "RP_IO60"	LOC = "E6";
NET "RN_IO63"	LOC = "A4";
NET "RP_IO62"	LOC = "B4";
NET "RN_IO9"	LOC = "G17";
NET "RP_IO8"	LOC = "H16";
NET "RN_IO11"	LOC = "F8";
NET "RP_IO10"	LOC = "G9";
NET "RN_IO13"	LOC = "E17";
NET "RP_IO12"	LOC = "F17";
NET "RN_IO15"	LOC = "F14";
NET "RP_IO14"	LOC = "G13";
NET "RN_IO17"	LOC = "C18";
NET "RP_IO16"	LOC = "D18";
NET "RN_IO19"	LOC = "H15";
NET "RP_IO18"	LOC = "J15";
NET "spare1"	LOC = "M21";
NET "spare2"	LOC = "V15";
NET "spare3"	LOC = "AD21";
NET "SR_A[0]"	LOC = "AC20";
NET "SR_A[1]"	LOC = "AD19";
NET "SR_A[10]"	LOC = "K21";
NET "SR_A[11]"	LOC = "Y16";
NET "SR_A[12]"	LOC = "AC16";
NET "SR_A[13]"	LOC = "K22";
NET "SR_A[14]"	LOC = "Y13";
NET "SR_A[15]"	LOC = "U19";
NET "SR_A[16]"	LOC = "W25";
NET "SR_A[17]"	LOC = "W11";
NET "SR_A[18]"	LOC = "V24";
NET "SR_A[19]"	LOC = "AF6";
NET "SR_A[2]"	LOC = "Y18";
NET "SR_A[3]"	LOC = "P26";
NET "SR_A[4]"	LOC = "W22";
NET "SR_A[5]"	LOC = "AB17";
NET "SR_A[6]"	LOC = "AB15";
NET "SR_A[7]"	LOC = "L24";
NET "SR_A[8]"	LOC = "V18";
NET "SR_A[9]"	LOC = "AD17";
NET "SR_ADSn"	LOC = "N24";
NET "SR_BW0n"	LOC = "AB13";
NET "SR_BW1n"	LOC = "W14";
NET "SR_BW2n"	LOC = "AD11";
NET "SR_BW3n"	LOC = "AA14";
NET "SR_BW4n"	LOC = "H26";
NET "SR_BW5n"	LOC = "K26";
NET "SR_BW6n"	LOC = "G24";
NET "SR_BW7n"	LOC = "G26";
NET "SR_CNTENn"	LOC = "AF15";
NET "SR_COLn"	LOC = "Y15";
NET "SR_INTn"	LOC = "AE11";
NET "SR_IO[0]"	LOC = "W13";
NET "SR_IO[1]"	LOC = "AA9";
NET "SR_IO[10]"	LOC = "AB9";
NET "SR_IO[11]"	LOC = "AD15";
NET "SR_IO[12]"	LOC = "AA11";
NET "SR_IO[13]"	LOC = "V11";
NET "SR_IO[14]"	LOC = "W12";
NET "SR_IO[15]"	LOC = "AC9";
NET "SR_IO[16]"	LOC = "AE19";
NET "SR_IO[17]"	LOC = "AE24";
NET "SR_IO[18]"	LOC = "W18";
NET "SR_IO[19]"	LOC = "AD18";
NET "SR_IO[2]"	LOC = "AD9";
NET "SR_IO[20]"	LOC = "R17";
NET "SR_IO[21]"	LOC = "AA18";
NET "SR_IO[22]"	LOC = "T18";
NET "SR_IO[23]"	LOC = "AA17";
NET "SR_IO[24]"	LOC = "V16";
NET "SR_IO[25]"	LOC = "V17";
NET "SR_IO[26]"	LOC = "AF18";
NET "SR_IO[27]"	LOC = "AF16";
NET "SR_IO[28]"	LOC = "AC17";
NET "SR_IO[29]"	LOC = "AF19";
NET "SR_IO[3]"	LOC = "AA12";
NET "SR_IO[30]"	LOC = "V14";
NET "SR_IO[31]"	LOC = "AE15";
NET "SR_IO[32]"	LOC = "E26";
NET "SR_IO[33]"	LOC = "E23";
NET "SR_IO[34]"	LOC = "D23";
NET "SR_IO[35]"	LOC = "B26";
NET "SR_IO[36]"	LOC = "B23";
NET "SR_IO[37]"	LOC = "H20";
NET "SR_IO[38]"	LOC = "A23";
NET "SR_IO[39]"	LOC = "K20";
NET "SR_IO[4]"	LOC = "Y10";
NET "SR_IO[40]"	LOC = "G20";
NET "SR_IO[41]"	LOC = "E24";
NET "SR_IO[42]"	LOC = "G19";
NET "SR_IO[43]"	LOC = "J20";
NET "SR_IO[44]"	LOC = "B24";
NET "SR_IO[45]"	LOC = "C24";
NET "SR_IO[46]"	LOC = "H19";
NET "SR_IO[47]"	LOC = "D22";
NET "SR_IO[48]"	LOC = "B25";
NET "SR_IO[49]"	LOC = "A25";
NET "SR_IO[5]"	LOC = "AB10";
NET "SR_IO[50]"	LOC = "D24";
NET "SR_IO[51]"	LOC = "C26";
NET "SR_IO[52]"	LOC = "G23";
NET "SR_IO[53]"	LOC = "C25";
NET "SR_IO[54]"	LOC = "F24";
NET "SR_IO[55]"	LOC = "F26";
NET "SR_IO[56]"	LOC = "H22";
NET "SR_IO[57]"	LOC = "H21";
NET "SR_IO[58]"	LOC = "G25";
NET "SR_IO[59]"	LOC = "J25";
NET "SR_IO[6]"	LOC = "Y14";
NET "SR_IO[60]"	LOC = "H24";
NET "SR_IO[61]"	LOC = "J24";
NET "SR_IO[62]"	LOC = "J22";
NET "SR_IO[63]"	LOC = "J26";
NET "SR_IO[7]"	LOC = "V13";
NET "SR_IO[8]"	LOC = "AC15";
NET "SR_IO[9]"	LOC = "AF11";
NET "SR_IOP[0]"	LOC = "AF8";
NET "SR_IOP[1]"	LOC = "AC11";
NET "SR_IOP[2]"	LOC = "W17";
NET "SR_IOP[3]"	LOC = "W16";
NET "SR_IOP[4]"	LOC = "F22";
NET "SR_IOP[5]"	LOC = "K18";
NET "SR_IOP[6]"	LOC = "G22";
NET "SR_IOP[7]"	LOC = "L21";
NET "SR_PL_FTn"	LOC = "K24";
NET "SR_REPEATn"	LOC = "AC19";
NET "SR_ZZ"	LOC = "AA24";
NET "SR1_CE0n"	LOC = "AB11";
NET "SR1_CE1"	LOC = "AD8";
NET "SR1_OEn"	LOC = "AC12";
NET "SR1_R_Wn"	LOC = "AC14";
NET "SR3_CE0n"	LOC = "J23";
NET "SR3_CE1"	LOC = "L20";
NET "SR3_COLn"	LOC = "G21";
NET "SR3_INTn"	LOC = "E25";
NET "SR3_OEn"	LOC = "L23";
NET "SR3_R_Wn"	LOC = "D26";
NET "TEMP_CS"	LOC = "P17";
NET "TEMP_SCK"	LOC = "R18";
NET "TEMP_SDO"	LOC = "N19";
NET "USERo"	LOC = "AB18";
NET "PLL_CLK"	LOC = "AF13";
NET "PinADS_n"	LOC = "N25";



NET "CLK_PCI_U7" IOSTANDARD = LVCMOS33;
NET "DACK0_n" IOSTANDARD = LVCMOS33;
NET "DACK1_n" IOSTANDARD = LVCMOS33;
NET "DREQ0_n" IOSTANDARD = LVCMOS33;
NET "DREQ1_n" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[0]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[1]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[10]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[11]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[12]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[13]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[14]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[15]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[16]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[17]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[18]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[19]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[2]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[20]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[21]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[22]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[23]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[24]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[25]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[26]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[27]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[28]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[29]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[3]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[4]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[5]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[6]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[7]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[8]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIFF[9]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[0]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[1]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[10]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[11]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[12]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[13]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[14]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[15]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[2]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[3]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[4]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[5]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[6]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[7]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[8]" IOSTANDARD = LVCMOS33;
#NET "FDIR_DIG[9]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[0]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[1]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[10]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[11]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[12]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[13]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[14]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[15]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[16]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[17]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[18]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[19]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[2]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[20]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[21]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[22]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[23]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[24]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[25]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[26]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[27]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[28]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[29]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[3]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[4]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[5]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[6]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[7]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[8]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIFF[9]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[0]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[1]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[10]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[11]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[12]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[13]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[14]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[15]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[2]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[3]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[4]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[5]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[6]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[7]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[8]" IOSTANDARD = LVCMOS33;
#NET "FIO_DIG[9]" IOSTANDARD = LVCMOS33;
#NET "FN_CTRL1" IOSTANDARD = LVCMOS33;
#NET "FN_VRN17" IOSTANDARD = LVCMOS33;
#NET "FN3_GC1_VREF" IOSTANDARD = LVCMOS25;
#NET "FP_VRP17" IOSTANDARD = LVCMOS33;
#NET "FP3_GC0" IOSTANDARD = LVCMOS25;
NET "FPGA_CLK" IOSTANDARD = LVCMOS33;
NET "FPGA_CLK_PLL" IOSTANDARD = LVCMOS33;
NET "LA[10]" IOSTANDARD = LVCMOS33;
NET "LA[11]" IOSTANDARD = LVCMOS33;
NET "LA[12]" IOSTANDARD = LVCMOS33;
NET "LA[13]" IOSTANDARD = LVCMOS33;
NET "LA[14]" IOSTANDARD = LVCMOS33;
NET "LA[15]" IOSTANDARD = LVCMOS33;
NET "LA[16]" IOSTANDARD = LVCMOS33;
NET "LA[17]" IOSTANDARD = LVCMOS33;
NET "LA[18]" IOSTANDARD = LVCMOS33;
NET "LA[19]" IOSTANDARD = LVCMOS33;
NET "LA[2]" IOSTANDARD = LVCMOS33;
NET "LA[20]" IOSTANDARD = LVCMOS33;
NET "LA[21]" IOSTANDARD = LVCMOS33;
NET "LA[22]" IOSTANDARD = LVCMOS33;
NET "LA[23]" IOSTANDARD = LVCMOS33;
NET "LA[24]" IOSTANDARD = LVCMOS33;
NET "LA[25]" IOSTANDARD = LVCMOS33;
NET "LA[26]" IOSTANDARD = LVCMOS33;
NET "LA[3]" IOSTANDARD = LVCMOS33;
NET "LA[4]" IOSTANDARD = LVCMOS33;
NET "LA[5]" IOSTANDARD = LVCMOS33;
NET "LA[6]" IOSTANDARD = LVCMOS33;
NET "LA[7]" IOSTANDARD = LVCMOS33;
NET "LA[8]" IOSTANDARD = LVCMOS33;
NET "LA[9]" IOSTANDARD = LVCMOS33;
NET "LBE0_n" IOSTANDARD = LVCMOS33;
NET "LBE1_n" IOSTANDARD = LVCMOS33;
NET "LBE2_n" IOSTANDARD = LVCMOS33;
NET "LBE3_n" IOSTANDARD = LVCMOS33;
NET "LD[0]" IOSTANDARD = LVCMOS33;
NET "LD[1]" IOSTANDARD = LVCMOS33;
NET "LD[10]" IOSTANDARD = LVCMOS33;
NET "LD[11]" IOSTANDARD = LVCMOS33;
NET "LD[12]" IOSTANDARD = LVCMOS33;
NET "LD[13]" IOSTANDARD = LVCMOS33;
NET "LD[14]" IOSTANDARD = LVCMOS33;
NET "LD[15]" IOSTANDARD = LVCMOS33;
NET "LD[16]" IOSTANDARD = LVCMOS33;
NET "LD[17]" IOSTANDARD = LVCMOS33;
NET "LD[18]" IOSTANDARD = LVCMOS33;
NET "LD[19]" IOSTANDARD = LVCMOS33;
NET "LD[2]" IOSTANDARD = LVCMOS33;
NET "LD[20]" IOSTANDARD = LVCMOS33;
NET "LD[21]" IOSTANDARD = LVCMOS33;
NET "LD[22]" IOSTANDARD = LVCMOS33;
NET "LD[23]" IOSTANDARD = LVCMOS33;
NET "LD[24]" IOSTANDARD = LVCMOS33;
NET "LD[25]" IOSTANDARD = LVCMOS33;
NET "LD[26]" IOSTANDARD = LVCMOS33;
NET "LD[27]" IOSTANDARD = LVCMOS33;
NET "LD[28]" IOSTANDARD = LVCMOS33;
NET "LD[29]" IOSTANDARD = LVCMOS33;
NET "LD[3]" IOSTANDARD = LVCMOS33;
NET "LD[30]" IOSTANDARD = LVCMOS33;
NET "LD[31]" IOSTANDARD = LVCMOS33;
NET "LD[4]" IOSTANDARD = LVCMOS33;
NET "LD[5]" IOSTANDARD = LVCMOS33;
NET "LD[6]" IOSTANDARD = LVCMOS33;
NET "LD[7]" IOSTANDARD = LVCMOS33;
NET "LD[8]" IOSTANDARD = LVCMOS33;
NET "LD[9]" IOSTANDARD = LVCMOS33;
NET "LINT_n" IOSTANDARD = LVCMOS33;
NET "LRESET_n" IOSTANDARD = LVCMOS33;
NET "LW_R_n" IOSTANDARD = LVCMOS33;
NET "PinADS_n" IOSTANDARD = LVCMOS33;
NET "PLL_CLK" IOSTANDARD = LVCMOS33;
NET "RdyACK_n" IOSTANDARD = LVCMOS33;
NET "READYn" IOSTANDARD = LVCMOS33;
NET "RN_IO1" IOSTANDARD = LVDS_25;
NET "RN_IO11" IOSTANDARD = LVDS_25;
NET "RN_IO13" IOSTANDARD = LVDS_25;
NET "RN_IO15" IOSTANDARD = LVDS_25;
NET "RN_IO17" IOSTANDARD = LVDS_25;
NET "RN_IO19" IOSTANDARD = LVDS_25;
NET "RN_IO21" IOSTANDARD = LVDS_25;
NET "RN_IO23" IOSTANDARD = LVDS_25;
NET "RN_IO25" IOSTANDARD = LVDS_25;
NET "RN_IO27" IOSTANDARD = LVDS_25;
NET "RN_IO29" IOSTANDARD = LVDS_25;
NET "RN_IO3" IOSTANDARD = LVDS_25;
NET "RN_IO31" IOSTANDARD = LVDS_25;
NET "RN_IO33" IOSTANDARD = LVDS_25;
NET "RN_IO35" IOSTANDARD = LVDS_25;
NET "RN_IO37" IOSTANDARD = LVDS_25;
NET "RN_IO39" IOSTANDARD = LVDS_25;
NET "RN_IO41" IOSTANDARD = LVDS_25;
NET "RN_IO43" IOSTANDARD = LVDS_25;
NET "RN_IO45" IOSTANDARD = LVDS_25;
NET "RN_IO47" IOSTANDARD = LVDS_25;
NET "RN_IO49" IOSTANDARD = LVDS_25;
NET "RN_IO5" IOSTANDARD = LVDS_25;
NET "RN_IO51" IOSTANDARD = LVDS_25;
NET "RN_IO53" IOSTANDARD = LVDS_25;
NET "RN_IO55" IOSTANDARD = LVDS_25;
NET "RN_IO57" IOSTANDARD = LVDS_25;
NET "RN_IO59" IOSTANDARD = LVDS_25;
NET "RN_IO61" IOSTANDARD = LVDS_25;
NET "RN_IO63" IOSTANDARD = LVDS_25;
NET "RN_IO7" IOSTANDARD = LVDS_25;
NET "RN_IO9" IOSTANDARD = LVDS_25;
NET "RP_IO0" IOSTANDARD = LVDS_25;
NET "RP_IO10" IOSTANDARD = LVDS_25;
NET "RP_IO12" IOSTANDARD = LVDS_25;
NET "RP_IO14" IOSTANDARD = LVDS_25;
NET "RP_IO16" IOSTANDARD = LVDS_25;
NET "RP_IO18" IOSTANDARD = LVDS_25;
NET "RP_IO2" IOSTANDARD = LVDS_25;
NET "RP_IO20" IOSTANDARD = LVDS_25;
NET "RP_IO22" IOSTANDARD = LVDS_25;
NET "RP_IO24" IOSTANDARD = LVDS_25;
NET "RP_IO26" IOSTANDARD = LVDS_25;
NET "RP_IO28" IOSTANDARD = LVDS_25;
NET "RP_IO30" IOSTANDARD = LVDS_25;
NET "RP_IO32" IOSTANDARD = LVDS_25;
NET "RP_IO34" IOSTANDARD = LVDS_25;
NET "RP_IO36" IOSTANDARD = LVDS_25;
NET "RP_IO38" IOSTANDARD = LVDS_25;
NET "RP_IO4" IOSTANDARD = LVDS_25;
NET "RP_IO40" IOSTANDARD = LVDS_25;
NET "RP_IO42" IOSTANDARD = LVDS_25;
NET "RP_IO44" IOSTANDARD = LVDS_25;
NET "RP_IO46" IOSTANDARD = LVDS_25;
NET "RP_IO48" IOSTANDARD = LVDS_25;
NET "RP_IO50" IOSTANDARD = LVDS_25;
NET "RP_IO52" IOSTANDARD = LVDS_25;
NET "RP_IO54" IOSTANDARD = LVDS_25;
NET "RP_IO56" IOSTANDARD = LVDS_25;
NET "RP_IO58" IOSTANDARD = LVDS_25;
NET "RP_IO6" IOSTANDARD = LVDS_25;
NET "RP_IO60" IOSTANDARD = LVDS_25;
NET "RP_IO62" IOSTANDARD = LVDS_25;
NET "RP_IO8" IOSTANDARD = LVDS_25;
NET "SR_A[0]" IOSTANDARD = LVCMOS33;
NET "SR_A[1]" IOSTANDARD = LVCMOS33;
NET "SR_A[10]" IOSTANDARD = LVCMOS33;
NET "SR_A[11]" IOSTANDARD = LVCMOS33;
NET "SR_A[12]" IOSTANDARD = LVCMOS33;
NET "SR_A[13]" IOSTANDARD = LVCMOS33;
NET "SR_A[14]" IOSTANDARD = LVCMOS33;
NET "SR_A[15]" IOSTANDARD = LVCMOS33;
NET "SR_A[16]" IOSTANDARD = LVCMOS33;
NET "SR_A[17]" IOSTANDARD = LVCMOS33;
NET "SR_A[18]" IOSTANDARD = LVCMOS33;
NET "SR_A[19]" IOSTANDARD = LVCMOS33;
NET "SR_A[2]" IOSTANDARD = LVCMOS33;
NET "SR_A[3]" IOSTANDARD = LVCMOS33;
NET "SR_A[4]" IOSTANDARD = LVCMOS33;
NET "SR_A[5]" IOSTANDARD = LVCMOS33;
NET "SR_A[6]" IOSTANDARD = LVCMOS33;
NET "SR_A[7]" IOSTANDARD = LVCMOS33;
NET "SR_A[8]" IOSTANDARD = LVCMOS33;
NET "SR_A[9]" IOSTANDARD = LVCMOS33;
NET "SR_ADSn" IOSTANDARD = LVCMOS33;
NET "SR_BW0n" IOSTANDARD = LVCMOS33;
NET "SR_BW1n" IOSTANDARD = LVCMOS33;
NET "SR_BW2n" IOSTANDARD = LVCMOS33;
NET "SR_BW3n" IOSTANDARD = LVCMOS33;
NET "SR_BW4n" IOSTANDARD = LVCMOS33;
NET "SR_BW5n" IOSTANDARD = LVCMOS33;
NET "SR_BW6n" IOSTANDARD = LVCMOS33;
NET "SR_BW7n" IOSTANDARD = LVCMOS33;
NET "SR_CNTENn" IOSTANDARD = LVCMOS33;
NET "SR_COLn" IOSTANDARD = LVCMOS33;
NET "SR_INTn" IOSTANDARD = LVCMOS33;
NET "SR_IO[0]" IOSTANDARD = LVCMOS33;
NET "SR_IO[1]" IOSTANDARD = LVCMOS33;
NET "SR_IO[10]" IOSTANDARD = LVCMOS33;
NET "SR_IO[11]" IOSTANDARD = LVCMOS33;
NET "SR_IO[12]" IOSTANDARD = LVCMOS33;
NET "SR_IO[13]" IOSTANDARD = LVCMOS33;
NET "SR_IO[14]" IOSTANDARD = LVCMOS33;
NET "SR_IO[15]" IOSTANDARD = LVCMOS33;
NET "SR_IO[16]" IOSTANDARD = LVCMOS33;
NET "SR_IO[17]" IOSTANDARD = LVCMOS33;
NET "SR_IO[18]" IOSTANDARD = LVCMOS33;
NET "SR_IO[19]" IOSTANDARD = LVCMOS33;
NET "SR_IO[2]" IOSTANDARD = LVCMOS33;
NET "SR_IO[20]" IOSTANDARD = LVCMOS33;
NET "SR_IO[21]" IOSTANDARD = LVCMOS33;
NET "SR_IO[22]" IOSTANDARD = LVCMOS33;
NET "SR_IO[23]" IOSTANDARD = LVCMOS33;
NET "SR_IO[24]" IOSTANDARD = LVCMOS33;
NET "SR_IO[25]" IOSTANDARD = LVCMOS33;
NET "SR_IO[26]" IOSTANDARD = LVCMOS33;
NET "SR_IO[27]" IOSTANDARD = LVCMOS33;
NET "SR_IO[28]" IOSTANDARD = LVCMOS33;
NET "SR_IO[29]" IOSTANDARD = LVCMOS33;
NET "SR_IO[3]" IOSTANDARD = LVCMOS33;
NET "SR_IO[30]" IOSTANDARD = LVCMOS33;
NET "SR_IO[31]" IOSTANDARD = LVCMOS33;
NET "SR_IO[32]" IOSTANDARD = LVCMOS33;
NET "SR_IO[33]" IOSTANDARD = LVCMOS33;
NET "SR_IO[34]" IOSTANDARD = LVCMOS33;
NET "SR_IO[35]" IOSTANDARD = LVCMOS33;
NET "SR_IO[36]" IOSTANDARD = LVCMOS33;
NET "SR_IO[37]" IOSTANDARD = LVCMOS33;
NET "SR_IO[38]" IOSTANDARD = LVCMOS33;
NET "SR_IO[39]" IOSTANDARD = LVCMOS33;
NET "SR_IO[4]" IOSTANDARD = LVCMOS33;
NET "SR_IO[40]" IOSTANDARD = LVCMOS33;
NET "SR_IO[41]" IOSTANDARD = LVCMOS33;
NET "SR_IO[42]" IOSTANDARD = LVCMOS33;
NET "SR_IO[43]" IOSTANDARD = LVCMOS33;
NET "SR_IO[44]" IOSTANDARD = LVCMOS33;
NET "SR_IO[45]" IOSTANDARD = LVCMOS33;
NET "SR_IO[46]" IOSTANDARD = LVCMOS33;
NET "SR_IO[47]" IOSTANDARD = LVCMOS33;
NET "SR_IO[48]" IOSTANDARD = LVCMOS33;
NET "SR_IO[49]" IOSTANDARD = LVCMOS33;
NET "SR_IO[5]" IOSTANDARD = LVCMOS33;
NET "SR_IO[50]" IOSTANDARD = LVCMOS33;
NET "SR_IO[51]" IOSTANDARD = LVCMOS33;
NET "SR_IO[52]" IOSTANDARD = LVCMOS33;
NET "SR_IO[53]" IOSTANDARD = LVCMOS33;
NET "SR_IO[54]" IOSTANDARD = LVCMOS33;
NET "SR_IO[55]" IOSTANDARD = LVCMOS33;
NET "SR_IO[56]" IOSTANDARD = LVCMOS33;
NET "SR_IO[57]" IOSTANDARD = LVCMOS33;
NET "SR_IO[58]" IOSTANDARD = LVCMOS33;
NET "SR_IO[59]" IOSTANDARD = LVCMOS33;
NET "SR_IO[6]" IOSTANDARD = LVCMOS33;
NET "SR_IO[60]" IOSTANDARD = LVCMOS33;
NET "SR_IO[61]" IOSTANDARD = LVCMOS33;
NET "SR_IO[62]" IOSTANDARD = LVCMOS33;
NET "SR_IO[63]" IOSTANDARD = LVCMOS33;
NET "SR_IO[7]" IOSTANDARD = LVCMOS33;
NET "SR_IO[8]" IOSTANDARD = LVCMOS33;
NET "SR_IO[9]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[0]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[1]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[2]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[3]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[4]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[5]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[6]" IOSTANDARD = LVCMOS33;
NET "SR_IOP[7]" IOSTANDARD = LVCMOS33;
NET "SR_PL_FTn" IOSTANDARD = LVCMOS33;
NET "SR_REPEATn" IOSTANDARD = LVCMOS33;
NET "SR_ZZ" IOSTANDARD = LVCMOS33;
NET "SR1_CE0n" IOSTANDARD = LVCMOS33;
NET "SR1_CE1" IOSTANDARD = LVCMOS33;
NET "SR1_OEn" IOSTANDARD = LVCMOS33;
NET "SR1_R_Wn" IOSTANDARD = LVCMOS33;
NET "SR3_CE0n" IOSTANDARD = LVCMOS33;
NET "SR3_CE1" IOSTANDARD = LVCMOS33;
NET "SR3_COLn" IOSTANDARD = LVCMOS33;
NET "SR3_INTn" IOSTANDARD = LVCMOS33;
NET "SR3_OEn" IOSTANDARD = LVCMOS33;
NET "SR3_R_Wn" IOSTANDARD = LVCMOS33;
NET "USERo" IOSTANDARD = LVCMOS33;
NET "spare1" IOSTANDARD = LVCMOS33;
NET "spare2" IOSTANDARD = LVCMOS33;
NET "spare3" IOSTANDARD = LVCMOS33;

NET "TEMP_CS"	IOSTANDARD = LVCMOS33;
NET "TEMP_SCK"	IOSTANDARD = LVCMOS33;
NET "TEMP_SDO"	IOSTANDARD = LVCMOS33;
NET "TEMP_SDO" PULLUP;

# FRONT I/O PULLUP RESISTORS
#NET "FIO_DIG[0]"  PULLUP;
#NET "FIO_DIG[1]"  PULLUP;
#NET "FIO_DIG[2]"  PULLUP;
#NET "FIO_DIG[3]"  PULLUP;
#NET "FIO_DIG[4]"  PULLUP;
#NET "FIO_DIG[5]"  PULLUP;
#NET "FIO_DIG[6]"  PULLUP;
#NET "FIO_DIG[7]"  PULLUP;
#NET "FIO_DIG[8]"  PULLUP;
#NET "FIO_DIG[9]"  PULLUP;
#NET "FIO_DIG[10]"  PULLUP;
#NET "FIO_DIG[11]"  PULLUP;
#NET "FIO_DIG[12]"  PULLUP;
#NET "FIO_DIG[13]"  PULLUP;
#NET "FIO_DIG[14]"  PULLUP;
#NET "FIO_DIG[15]"  PULLUP;
#NET "FIO_DIFF[0]"  PULLUP;
#NET "FIO_DIFF[1]"  PULLUP;
#NET "FIO_DIFF[2]"  PULLUP;
#NET "FIO_DIFF[3]"  PULLUP;
#NET "FIO_DIFF[4]"  PULLUP;
#NET "FIO_DIFF[5]"  PULLUP;
#NET "FIO_DIFF[6]"  PULLUP;
#NET "FIO_DIFF[7]"  PULLUP;
#NET "FIO_DIFF[8]"  PULLUP;
#NET "FIO_DIFF[9]"  PULLUP;
#NET "FIO_DIFF[10]"  PULLUP;
#NET "FIO_DIFF[11]"  PULLUP;
#NET "FIO_DIFF[12]"  PULLUP;
#NET "FIO_DIFF[13]"  PULLUP;
#NET "FIO_DIFF[14]"  PULLUP;
#NET "FIO_DIFF[15]"  PULLUP;
#NET "FIO_DIFF[16]"  PULLUP;
#NET "FIO_DIFF[17]"  PULLUP;
#NET "FIO_DIFF[18]"  PULLUP;
#NET "FIO_DIFF[19]"  PULLUP;
#NET "FIO_DIFF[20]"  PULLUP;
#NET "FIO_DIFF[21]"  PULLUP;
#NET "FIO_DIFF[22]"  PULLUP;
#NET "FIO_DIFF[23]"  PULLUP;
#NET "FIO_DIFF[24]"  PULLUP;
#NET "FIO_DIFF[25]"  PULLUP;
#NET "FIO_DIFF[26]"  PULLUP;
#NET "FIO_DIFF[27]"  PULLUP;
#NET "FIO_DIFF[28]"  PULLUP;
#NET "FIO_DIFF[29]"  PULLUP;

#Created by Constraints Editor (xc6slx150-fgg676-3) - 2010/07/12
NET "CLK_PCI_U7" TNM_NET = CLK_PCI_U7;
TIMESPEC TS_CLK_PCI_U7 = PERIOD "CLK_PCI_U7" 8 ns HIGH 50%;

#Required due to S6 clk routing limitations.  Note that this clock should
#not be used for anything other then test or evaluation purposes.
PIN "AXM_A30_SERCLK.O" CLOCK_DEDICATED_ROUTE = FALSE;

PIN "SPI_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
